@media screen and (max-device-width:767px) {
  /* 모바일 */
  .dropdown {
    background-color: white;
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.1);
    margin-left: 12px;
    padding: 0 17px;
    display: block;
    position: absolute;
  
    height: auto;
    max-height: 312px;
    overflow-y: scroll;
    z-index: 10;
  }

  
  .dropdownOption {
    border-bottom: 2px solid #CFCFCF;
    padding: 5px 0;
    position: relative;
    font-size:40px;
  }
}
@media screen and (min-device-width:768px) {
  /* 태블릿 ~ 데스크탑 */
  .dropdown {
    background-color: white;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
    margin-left: 5px;
    padding: 0 7px;
    display: block;
    position: absolute;
  
    height: auto;
    max-height: 125px;
    overflow-y: scroll;
    z-index: 10;
  }

  
  .dropdownOption {
    border-bottom: 1px solid #CFCFCF;
    padding: 2px 0;
    position: relative;
  }
}


  .dropdownOption:hover {
    cursor: pointer;
  }