.dropdown {
    background-color: white;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
    margin-left: 5px;
    padding: 0 7px;
    display: block;
    position: absolute;
  
    height: auto;
    max-height: 125px;
    overflow-y: scroll;
    z-index: 10;
  }

  
  .dropdownOption {
    border-bottom: 1px solid #CFCFCF;
    padding: 2px 0;
    position: relative;
  }
  .dropdownOption:hover {
    cursor: pointer;
  }