.alignLeft {    
    margin-left: 15px;
}

.registerOutfitBtn {
    width: 360px;
    height: 65px;

    background-color: white;
    border: solid 3px #CFCFCF;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
    
    font-size: 20px;
}
.registerOutfitBtn:active {
    border-color: gray;
}

