.alignLeft {
  margin-left: 15px;
}
@media screen and (max-device-width: 767px) {
  /* 모바일 */
  #registerOutfitBtn {
    width: 92%;
    height: 125px;

    background-color: #477EFF;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 125px;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.2);

    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #WeatherBox {
    width: 87%;
    height: auto;
    background-color: #d6e8ff;
    border-radius: 50px;
    padding: 25px;
  }
  #weatherIcon * {
    height: 200px;
    width: 200px;
  }
  #WeatherGraph {
    width: 97%;
    height: 90px;
    padding: 20px 0;
  }
  #weatherGraphIndexWrapper {
    width: 75px;
  }
  #weatherGraphIndexTime {
    font-size: 32px;
  }
  #weatherGraphIndexTemp {
    font-size: 37px;
  }
  #weatherIcon {
    color: white;
    margin-left: 100px;
  }

  #weatherTextWrapper {
    margin-right: 37px;
  }
  #weatherTextWrapper > div {
    text-align: right;
    font-size: 50px;
    margin: 15px 0;
    color: #444444;
  }
  #weatherIndexWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    color: #444444;
  }

  #weatherTextWrapper > div {
    display: flex;
    justify-content: right;
    width: 425px;
  }

  .width38 {
    width: 100px;
    text-align: right;
  }
  #width80 {
    width: 200px;
    text-align: right;
  }
  #guideText {
    margin-bottom: 25px;
    font-size: 30px;
  }
  #noRecordText {
    margin-top: 50px;
    font-size: 30px;
  }
}
@media screen and (min-device-width: 768px) {
  /* 태블릿 ~ 데스크탑 */
  #registerOutfitBtn {
    width: 360px;
    height: 50px;

    background-color: #477EFF;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.2);

    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #WeatherBox {
    width: 340px;
    height: auto;
    background-color: #d6e8ff;
    border-radius: 20px;
    padding: 10px;
  }
  #weatherIcon * {
    height: 80px;
    width: 80px;
  }
  #weatherGraphIndexWrapper {
    width: 30px;
  }
  #weatherGraphIndexTime {
    font-size: 13px;
  }
  #weatherGraphIndexTemp {
    font-size: 15px;
  }
  #WeatherGraph {
    width: 330px;
    height: 50px;
  }
  #weatherIcon {
    color: white;
    margin-left: 40px;
  }

  #weatherTextWrapper {
    margin-right: 15px;
  }
  #weatherTextWrapper > div {
    text-align: right;
    font-size: 20px;
    margin: 6px 0;
    color: #444444;
  }
  #weatherIndexWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: #444444;
  }

  #weatherTextWrapper > div {
    display: flex;
    justify-content: right;
    width: 170px;
  }

  .width38 {
    width: 40px;
    text-align: right;
  }
  #width80 {
    width: 80px;
    text-align: right;
  }
  #guideText {
    margin-bottom: 10px;
    font-size: 12px;
  }
  #noRecordText {
    margin-top: 20px;
    font-size: 12px;
  }
}

#registerOutfitBtn:active {
  background-color: #83baff;
  color: white;
}
#weatherUpperWrapper {
  display: flex;
  justify-content: space-between;
}
