@media screen and (max-device-width:767px) {
  /* 모바일 */
  #MiniWeather > div {
    display: flex;
    justify-content: space-between;
    margin-right: 37px;
    width: 275px;
    font-size: 40px;
  }
  
  #miniIcon {
    display: flex;
    justify-content: center;
    width: 80px;
    font-size: 50px;
    margin-top: 5px;
  }
  #chegam { 
    font-size: 35px;
    margin-top: 5px;
    width: 80px;
  }
  .width32 {
    width: 80px;
    font-size: 40px;
    text-align: right;
  }
}
@media screen and (min-device-width:768px) {
  /* 태블릿 ~ 데스크탑 */
  #MiniWeather > div {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    width: 110px;
  }
  
  #miniIcon {
    display: flex;
    justify-content: center;
    width: 32px;
    font-size: 20px;
    margin-top: 2px;
  }
  #chegam { 
    font-size: 14px;
    margin-top: 2px;
    width: 32px;
  }
  .width32 {
    width: 32px;
    text-align: right;
  }
}


