.MyCloset {
    left:0;
    right:0;

    background-color: white;
}

.categoryWrapper {
    display: flex;
    align-items: center; /* 네모 상하 중앙정렬 */
    justify-content: space-between;

    height: 60px;
    border-top: 1px solid #ccc;
}

.category {
    display: flex;
    align-items: center; /* 글씨 상하 중앙정렬 */
    justify-content: center; /* 글씨 좌우 중앙정렬 */

    width: 85px;
    height: 35px;
    /* border: 1px solid #ccc;   */
    border-radius: 20px;
    font-weight: 600;
    color: #444444;

    margin : 0 10px;
}
.category:hover {
    cursor: pointer;
}

.selected {
    background-color: #444444; 
    border-color: #444444;
    color: white;
}
