.MyCloset {
    left:0;
    right:0;

    background-color: white;
}
#showHiddenBtn {
    color: #aaa;
    font-size: 13px;
    margin-right: 15px;
    display: flex;

}

.categoryWrapper {
    display: flex;
    align-items: center; /* 네모 상하 중앙정렬 */
    justify-content: space-between;

    height: 60px;
    border-top: 1px solid #c0c0c0;
}

.category {
    display: flex;
    align-items: center; /* 글씨 상하 중앙정렬 */
    justify-content: center; /* 글씨 좌우 중앙정렬 */

    width: 85px;
    height: 35px;
    /* border: 1px solid #ccc;   */
    border-radius: 20px;
    font-weight: 600;
    color: #444444;

    margin : 0 10px;
}
.category:hover {
    cursor: pointer;
}

.selected {
    background-color: #444444; 
    border-color: #444444;
    color: white;
}



/* 아래로는 sub */

.subCategoryWrapper {
    display: flex;
    text-align: center; /* 좌우 중앙정렬 */
    align-items: center; /* 상하 중앙정렬 */

    /* width: 380px; */
    height: 50px;
    background-color: #FAFAFA;
    padding-left: 10px;

    width: auto;
    max-width: 380px;
    overflow-x: scroll;
    white-space: nowrap;
}

.subCategory {
    padding: 10px;
}

.registerClosetBtn {
    width: 80px;
    height: 80px;

    background-color: white;
    border: solid 1px #ccc;
    border-radius: 20px;
    
    font-size: 50px;
    margin-top: 9px;
    margin-bottom: 9px;
}

#clothes {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.selectedCloth {
    border: 3px solid #cfcfcf;
    border-radius: 5px;
}