
#titleWrapper {
    display: flex;
    justify-content: space-between;
}
#btnWrapper {
    display: flex;
    text-align: right;
    margin-right: 25px;
}
#btnWrapper:hover {
    cursor: pointer;
}

#btnWrapper > div {
    display: flex;
}


.icon {
    margin-left: 15px;
    width: 15px;
    height: 15px;
}