@media screen and (max-device-width: 767px) {
  /* 모바일 */
  #seeMoreBtn {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    font-size:40px;
    height: 125px;
    margin-bottom: 25px;
    margin-top: 50px;
    width: 375px;    
  }
  .icon {
    margin-left: 37px;
    width: 37px;
    height: 37px;
  }
  .btnWrapper {
    display: flex;
    text-align: right;
    margin-right: 62px;
  }
  .btn {
    font-size:40px;
  }
}
@media screen and (min-device-width: 768px) {
  /* 태블릿 ~ 데스크탑 */
  #seeMoreBtn {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: 16px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 150px;   
  }
  .icon {
    margin-left: 15px;
    width: 15px;
    height: 15px;
  }
  .btnWrapper {
    display: flex;
    text-align: right;
    margin-right: 25px;
  }
}

#titleWrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
}
