@media screen and (max-device-width: 767px) {
  /* 모바일 */
  #Outfit {
    width: 92%;
    height: 225px;
    background-color: white;
    border-radius: 50px;
    margin-bottom: 25px;

    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
  }
  #outfitLeftWrapper {
    margin-left: 37px;
  }
  #outfitDate {
    font-size: 40px;
  }
  #outfitRightWrapper {
    margin-right: 37px;
  }
  #outfitRightWrapper > div {
    width: 162px;
  }
  .plus {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #cfcfcf;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
  }
  .mainClothesPhoto {
    width: 137px;
    height: 137px;
    object-fit: contain;
  }
}
@media screen and (min-device-width: 768px) {
  /* 태블릿 ~ 데스크탑 */
  #Outfit {
    width: 360px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;

    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
  }
  #outfitLeftWrapper {
    margin-left: 15px;
  }
  #outfitRightWrapper {
    margin-right: 15px;
  }
  #outfitRightWrapper > div {
    width: 65px;
  }
  .plus {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #cfcfcf;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    z-index: 1;
  }
  .mainClothesPhoto {
    width: 55px;
    height: 55px;
    object-fit: contain;
  }
}

#outfitRightWrapper > div > div {
  display: flex;
  justify-content: center;
}

.clothWrapper {
  position: relative;
}
