
#titleWrapper {
    display: flex;
    justify-content: space-between;
}
.btnWrapper {
    display: flex;
    text-align: right;
    margin-right: 25px;
}
.btn:hover {
    cursor: pointer;
}

.btn {
    display: flex;
}

.icon {
    margin-left: 15px;
    width: 15px;
    height: 15px;
}

