@media screen and (max-device-width: 767px) {
  /* 모바일 */
  .datePicker {
    text-align: left;
    background-color: #fafafa;
    border: 0;
    margin-left: 37px;
    margin-top: 37px;
    font-size: 37px;
  }
  .react-datepicker {
    font-size: 2.2em !important;
    margin: 20px;
  }
  .react-datepicker__header {
    padding-top: 0.5em !important;
    border-bottom: 2px solid gray !important;
  }
  .react-datepicker__month {
    margin: 0.4em 1em !important;
  }
  .react-datepicker__day-name,
  .react-datepicker__day {
    width: 1.9em !important;
    line-height: 1.9em !important;
    margin: 0.166em !important;
  }
  .react-datepicker__triangle::before {
    top: -10px !important;
    border-width: 45px !important;
  }
  .react-datepicker__triangle::after {
    top: -9px !important;
    border-width: 45px !important;
  }
  .react-datepicker__current-month {
    font-size: 1em !important;
  }
  .react-datepicker__navigation {
    top: 1em !important;
    width: 50px !important;
    height: 50px !important;
  }
  .react-datepicker__navigation-icon::before {
    width: 20px !important;
    height: 20px !important;
    border-width: 4px 4px 0 0 !important;
  }
  .react-datepicker__navigation--previous {
    left: 1.5em !important;
  }
  .react-datepicker__navigation--next {
    right: 1.5em !important;
  }

  .comment {
    width: 92%;
    height: auto;

    text-align: left;

    background-color: white;
    border-radius: 50px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);

    margin-top: 25px;
    margin-bottom: 50px;
  }

  .comment > input {
    margin: 25px 37px;
    text-align: left;
    border: 0;
    width: 84%;
  }
  .comment > input:focus {
    border-bottom: 2px solid #cfcfcf;
    outline: 0;
  }

  .commentTitle {
    text-align: left;
    font-size: 45px;
    padding: 17px 12px;
    border-bottom: 3px solid lightgray;
    margin: 0 37px;
  }

  #registerSaveBtn {
    padding: 12px;
    width: 62px;
    height: 62px;
  }
}
@media screen and (min-device-width: 768px) {
  /* 태블릿 ~ 데스크탑 */
  .datePicker {
    text-align: left;
    background-color: #fafafa;
    border: 0;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 15px;
  }

  .comment {
    width: 360px;
    height: auto;

    text-align: left;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.1);

    margin-top: 10px;
    margin-bottom: 20px;
  }

  .comment > input {
    margin: 10px 15px;
    text-align: left;
    border: 0;
    width: 330px;
  }
  .comment > input:focus {
    border-bottom: 1px solid #cfcfcf;
    outline: 0;
  }

  .commentTitle {
    text-align: left;
    font-size: 18px;
    padding: 7px 5px;
    border-bottom: 1px solid lightgray;
    margin: 0 15px;
  }

  #registerSaveBtn {
    padding: 5px;
    width: 25px;
    height: 25px;
  }
}

.upperWrapper {
  display: flex;
  justify-content: space-between;
}

.datePicker:focus {
  outline: 0;
}

.lowerWrapper {
  justify-content: center;
  align-items: center;
}

#registerSaveBtn:hover {
  cursor: pointer;
}
.react-datepicker__day--outside-month {
  cursor: default;
  visibility: hidden;
}
