.UploadCloset {
    text-align: left;
}
.UploadCloset > div {
    text-align: left;
}

.inputBorder {
    border-radius: 20px;
    border: 2px solid #CFCFCF;
}

.inputTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.inputFileBtn {
    display: flex;
    width:100px;
    height:100px;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 20px;
}
.inputFileBtn:active {
    border-color: gray;
}
#inputFile {
    display: none;
}

#subCategoryDropdown {
    display: flex;
    align-items: center;
    width: 130px;
    height: 50px;
}
#subcateDropdownOption {
    width: 100px;
    padding: 5px 0;
}
.UploadCloset > input {
    text-align: left;
    font-size: 15px;
    padding: 7px;
    width: 260px;
}
.UploadCloset > input:focus {
    outline: 0;
}

#saveBtn {
    position: absolute;
    bottom: 40px;
    right: 50px;
}
#saveBtn:hover {
    cursor: pointer;
}