body {
  margin: 0; /* 여백없애기 */
}

.mobileWeb { 
  /* 모바일 웹에 맞게 */
  max-width : 390px;
  min-height: 740px;
  margin : 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #FAFAFA;
}

button {
  /* 디폴트 스타일링 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
}

p {
  margin: 0;
}